@using Chronos.Web.ViewModel.Pedidos
@model PedidosGridViewModel

<style>
    .hide {
        display: none !important;
    }

</style>
<script typ="text/javascript">
    $(document).ready(function () {
        $(document).on("click", ".mytable .open", function () {
            var tr = $(this).parents("tr").next();                       
            if (tr.hasClass("hide")) {
                tr.removeClass("hide");
            } else {
                tr.addClass("hide");
            }
        });

    });
</script>

<div class="page-header">
    <h1>Pedidos</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table mytable" border="1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>ID Cliente</th>
                    <th>Valor Bruto</th>
                    <th>Valor Desconto</th>
                    <th>Valor Líquido</th>
                </tr>
            </thead>
            <tbody>
                @if (!Model.Dados.Any())
                {
                    <tr>
                        <td colspan="3">
                            <p class="text-center">(não há produtos cadastrados)</p>
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var pedido in Model.Dados)
                    {
                        <tr>
                            <td><button class="btn open">+</button></td>
                            <td>@pedido.Id</td>
                            <td>@pedido.ClienteId</td>
                            <td>@($"{pedido.ValorBruto:C}")</td>
                            <td>@($"{pedido.ValorDesconto:C}")</td>
                            <td>@($"{pedido.ValorLiquido:C}")</td>
                        </tr>

                        <tr class="hide">
                            <td></td>
                            <td colspan="6">
                                <center>
                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>ID Pedido</th>
                                                <th>ID Produto</th>
                                                <th>Quantidade</th>
                                                <th>Valor Unitário</th>
                                                <th>Valor Bruto</th>
                                                <th>Valor Desconto</th>
                                                <th>Valor Líquido</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in pedido.Itens)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.PedidoId</td>
                                                    <td>@item.ProdutoId</td>
                                                    <td>@($"{item.Quantidade:C}")</td>
                                                    <td>@($"{item.ValorUnitario:C}")</td>
                                                    <td>@($"{item.ValorBruto:C}")</td>
                                                    <td>@($"{item.ValorDesconto:C}")</td>
                                                    <td>@($"{item.ValorLiquido:C}")</td>
                                                </tr>
                                             }                                               
                                            </tbody>
                                    </table>
                                </center>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

